*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}


/* header section */

/* navigation bar */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #808080;
    padding: 1rem;
}

.logo_img{
    width: 6rem;
}
.list_items{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list_item{
    color: #f0f0f0;
    text-decoration: none;
    margin-left: 2rem;
    font-weight: 600;
}

.btn{
    padding: 0.50rem 2rem;
    border: solid #f0f0f0 0.02rem;
    color: #f0f0f0;
    background-color: #808080;
}

/* mobile responsive */
@media screen and (max-width: 640px){

    .nav{
        padding: 1rem;
        /* background-color: rebeccapurple; */
    }
    .list_items{
        display: none;
    }
    .logo_img{
        width: 6rem;
    }
    .btn{
        padding: 0.50rem 2rem;
    }
}

/* tablet responsive */
@media screen and (min-width: 640px) and (max-width: 900px){
    .nav{
        padding: 1rem;
        /* background-color: blue; */
    }
    .list_items{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .list_item{
        margin-left: 1rem;
    }
    .logo_img{
        width: 4rem;
    }
    .btn{
        padding: 0.25rem 1rem;
    }
}



/* hero content */
.section1{
    display: flex;
    background-color: #808080;
    /* justify-content: space-around; */
    padding: 3rem 6rem;

}

.left1{
    width: 50%;
}
.left1_img{
    width: 30rem;
    height: 25rem;
}

.right1{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.right1_col1 h1{
    font-size: 3rem;
    color: white;
    text-align: left;
    margin-top: 1rem;
}
.right1_col2 p{
    font-size: 1.5rem;
    color: white;
    text-align: left;
    margin-top: 1rem;
}


.right1_col3{
    /* display: flex; */
    /* align-items: center; */
    /* width: 25rem; */
    /* height: 3rem; */
    /* padding-top: 0.50rem;
    padding-bottom: 0.50rem; */
    /* justify-content: space-around; */
    margin-top: 1rem;
    display: inline;
}



.right1_col3_content{
    display: inline-flex;
    align-items: center;
    background-color: #f0f0f0;
    padding-top: 0.50rem;
    padding-bottom: 0.50rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
.right1_col3_img{
    width: 1rem;
    margin-left: 0.75rem;
}
.right1_col3_email{
    margin-left: 0.75rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.50rem;
}
.right1_col3_btn{
    height: 2.5rem;
    width: 7rem;
    border: none;
    background-color: #2B8D73;
    color: #f0f0f0;
    font-size: 1rem;
    margin-left: 0.75rem;
}

/* mobile responsive */
@media screen and (max-width: 640px){
    .section1{
        display: flex;
        flex-direction: column;
        background-color: #808080;
        padding: 0rem 0rem;
        align-items: center;
    }
    .left1{
        width: fit-content;
        padding-top: 1rem;
    }
    .left1_img{
        width: 20rem;
        height: 20rem;
    }
    
    .right1{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        width: fit-content;
    }
    
    .right1_col1 h1{
        font-size: 2rem;
        color: white;
        text-align: center;
        margin-top: 1rem;
    }
    .right1_col2 p{
        font-size: 1rem;
        color: white;
        text-align: center;
        margin-top: 1rem;
        padding-left: 0.50rem;
        padding-right: 0.50rem;
    }
    
    .right1_col3{
        /* display: flex; */
        /* align-items: center; */
        /* width: 25rem; */
        /* height: 3rem; */
        /* padding-top: 0.50rem;
        padding-bottom: 0.50rem; */
        /* justify-content: space-around; */
        margin-top: 1rem;
        display: inline;
        margin-bottom: 1rem;
    }
    .right1_col3_content{
        display: inline-flex;
        align-items: center;
        background-color: #f0f0f0;
        padding-top: 0.50rem;
        padding-bottom: 0.50rem;
        padding-left: 0.50rem;
        padding-right: 0.50rem;
        
    }
    .right1_col3_img{
        width: 1rem;
        margin-left: 0.50rem;
    }
    .right1_col3_email{
        margin-left: 0.50rem;
        border: none;
        font-size: 1rem;
        font-weight: 600;
        padding: 0.50rem;
    }
    .right1_col3_btn{
        height: 2.5rem;
        width: 5rem;
        border: none;
        background-color: #2B8D73;
        color: #f0f0f0;
        font-size: 1rem;
        margin-left: 0.50rem;
    }
   
   
}

@media screen and (min-width: 640px) and (max-width: 1000px){
    .section1{
        display: flex;
        flex-direction: column;
        background-color: #808080;
        padding: 0rem 0rem;
        align-items: center;
    }
    .left1{
        width: fit-content;
        padding-top: 1rem;
    }
    .left1_img{
        width: 20rem;
        height: 20rem;
    }
    
    .right1{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        width: fit-content;
    }
    
    .right1_col1 h1{
        font-size: 2rem;
        color: white;
        text-align: center;
        margin-top: 1rem;
    }
    .right1_col2 p{
        font-size: 1rem;
        color: white;
        text-align: center;
        margin-top: 1rem;
        padding-left: 0.50rem;
        padding-right: 0.50rem;
    }
    
    .right1_col3{
        /* display: flex; */
        /* align-items: center; */
        /* width: 25rem; */
        /* height: 3rem; */
        /* padding-top: 0.50rem;
        padding-bottom: 0.50rem; */
        /* justify-content: space-around; */
        margin-top: 1rem;
        display: inline;
        margin-bottom: 1rem;
    }
    .right1_col3_content{
        display: inline-flex;
        align-items: center;
        background-color: #f0f0f0;
        padding-top: 0.50rem;
        padding-bottom: 0.50rem;
        padding-left: 0.50rem;
        padding-right: 0.50rem;
        
    }
    .right1_col3_img{
        width: 1rem;
        margin-left: 0.50rem;
    }
    .right1_col3_email{
        margin-left: 0.50rem;
        border: none;
        font-size: 1rem;
        font-weight: 600;
        padding: 0.50rem;
    }
    .right1_col3_btn{
        height: 2.5rem;
        width: 5rem;
        border: none;
        background-color: #2B8D73;
        color: #f0f0f0;
        font-size: 1rem;
        margin-left: 0.50rem;
    }
}




/* Hero section 2 */

.section2{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.sec2_col1 h1{
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sec2_col2{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.sec2_item h1{
    font-size: 3.5rem;
    text-align: center;
    font-weight: 700;
    padding: 0.50rem;
}

.sec2_item p{
    text-align: center;
    font-weight: 200;
    color: #808080;
}
.sec2_col3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec2_col3_img{
    width: 60rem;
    height: 35rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 640px){
    .section2{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    
    .sec2_col1 h1{
        font-size: 1.50rem;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        /* padding-left: 1px;
        padding-right: 1px; */
    }
    
    .sec2_col2{
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .sec2_item h1{
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
        padding: 0.50rem;
    }
    
    .sec2_item p{
        text-align: center;
        font-weight: 200;
        color: #808080;
    }
    .sec2_col3{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sec2_col3_img{
        width: 20rem;
        height: 20rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}




/* hero section 3 */

.section3{
    display: flex;
    flex-direction: column;

}

/* heading section of hero section 3 */
.sec3_row1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.sec3_row1 h1{
    text-align: center;
    font-size: 3rem;
}
@media screen and (max-width: 640px){
    .sec3_row1 h1{
        text-align: center;
        font-size: 2rem;
    } 
}

/* content 1 of hero section 3 */
.sec3_row2{
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sec3_row2_col1{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 50%;
    margin-left: 3rem;
    margin-right: 3rem;
}
.sec3_row2_col1 h1{
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.sec3_row2_col1 p{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: #808080;

}

.sec3_row2_col1 div{
    display: flex;
    align-items: center;
    justify-content: left;
}
.sec3_row2_col1_btn{
    padding: 0.75rem 2rem;
    border: none;
    background-color: #2B8D73;
    color: #f0f0f0;
    font-size: 1rem;
}

.sec3_row2_col2{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
}

.sec3_row2_col2 img{
    width: 30rem;
    height: 25rem;
}

@media screen and (max-width: 640px){
    .sec3_row2{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 0rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .sec3_row2_mobile{
        flex-direction: column-reverse;
    }
    .sec3_row2_col1{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        width: fit-content;
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .sec3_row2_col1 h1{
        font-size: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
    }
    .sec3_row2_col1 p{
        font-size: 1.25rem;
        padding-bottom: 1rem;
        color: #808080;
        text-align: center;
    
    }

    .sec3_row2_col1 div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sec3_row2_col1_btn{
        padding: 0.75rem 2rem;
        border: none;
        background-color: #2B8D73;
        color: #f0f0f0;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .sec3_row2_col2{
        display: flex;
        align-items: center;
        justify-content: center;
        /* width: fit-content; */
    }
    
    /* .sec3_row2_col2_mobile{
        display: flex;
        flex-direction: row-reverse;
    } */

    .sec3_row2_col2 img{
        /* display: none; */
        width: 20rem;
        height: 20rem;
    }
    
}
/* tablet responsive */
@media screen and (min-width: 640px) and (max-width: 1000px){
    .sec3_row2{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 0rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .sec3_row2_mobile{
        flex-direction: column-reverse;
    }
    .sec3_row2_col1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .sec3_row2_col1 h1{
        font-size: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
    }
    .sec3_row2_col1 p{
        font-size: 2rem;
        padding-bottom: 1rem;
        color: #808080;
        text-align: center;
    
    }

    .sec3_row2_col1 div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sec3_row2_col1_btn{
        padding: 0.75rem 2rem;
        border: none;
        background-color: #2B8D73;
        color: #f0f0f0;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .sec3_row2_col2{
        display: flex;
        align-items: center;
        justify-content: center;
        /* width: fit-content; */
    }
    
    .sec3_row2_col2 img{
        width: 25rem;
        height: 25rem;
    }
}



/* section 4 */

.section4{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.sec4_row1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec4_row1 h1{
    width: 50%;
    font-size: 3rem;

}
.sec4_row1 p{
    width: 50%;
    font-size: 1.5rem;
    color: #808080;
}

.sec4_row2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

.sec4_row2_col1{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 1rem;
    margin-right: 1rem;

}

.sec4_row2_col1 img{
    /* width: 25rem; */
    height: 25rem;
}

.sec4_row2_col1 h1{
    margin-top: 1rem;
}

.sec4_row2_col1 p{
    margin-top: 1rem;
    color: #808080;
}

.sec4_row3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

@media screen and (max-width: 640px){
    .section4{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-left: 0.20rem;
        margin-right: 0.20rem;
    }
    
    .sec4_row1{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: ; */
        justify-content: center;
    }
    
    .sec4_row1 h1{
        width: fit-content;
        font-size: 2rem;
        text-align: center;
    
    }
    .sec4_row1 p{
        width: fit-content;
        font-size: 1rem;
        color: #808080;
        text-align: center;
        margin-top: 1rem;
    }
    
    .sec4_row2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 2rem;
    }
    
    .sec4_row2_col1{
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    
    }
    
    .sec4_row2_col1 img{
        /* width: 25rem; */
        height: 25rem;
    }
    
    .sec4_row2_col1 h1{
        margin-top: 1rem;
    }
    
    .sec4_row2_col1 p{
        margin-top: 1rem;
        color: #808080;
    }
    
    .sec4_row3{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
}


/* footer section */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #10181D;
}

.footer_row1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

.footer_row1_col1{
    width: 50%;
}

.footer_row1_col2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.icon_circle{
    background-color: #282F34;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
.social_icon{
    width: 1rem;
    filter: invert(100%);
    padding: 0.75rem;
    text-align: center;
}
.line{
    margin: 0rem 2rem;
}
.footer_row2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem; 
}

.footer_row2_col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer_row2_col h1{
    font-size: 2rem;
    color: #f0f0f0;
    margin-top: 0.50rem;
}
.footer_row2_col p{
    font-size: 1rem;
    color:#808080;
    margin-top: 0.25rem;
}

@media screen and (max-width: 640px){
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: left;
    
        background-color: #10181D;
    }
    
    .footer_row1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
    
    .footer_row1_col1{
        width: fit-content;
    }
    
    .footer_row1_col2{
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }
    
    .icon_circle{
        background-color: #282F34;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
    }
    .social_icon{
        width: 1rem;
        filter: invert(100%);
        padding: 0.75rem;
        text-align: center;
    }
    .line{
        margin: 0rem 2rem;
    }

    .footer_row2{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        margin: 2rem;
        /* margin-left: 2rem; */
        

    }
    
    .footer_row2_col{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .footer_row2_col h1{
        font-size: 2rem;
        color: #f0f0f0;
        margin-top: 0.50rem;
    }
    .footer_row2_col p{
        font-size: 1rem;
        color:#808080;
        margin-top: 0.25rem;
    }
}